# Local development environment
bin/
.cache/
.data/
.state/

# Python
__pycache__/
*.py[cod]
*$py.class
*.so
.Python
*.egg-info/
*.egg
.venv/

# UV
config/uv/uv-receipt.json

# Downloaded packages and temp files
*.tar.gz
*.zip
*.AppImage
*.deb
*.rpm
